/* Para la pagina princicpal */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
}

/* Header */
header {
    border: 1px solid black; /* PRUEBA */
    background-color: #4c6baf; /* Color Oficial del Sitio, para todo! */
    width: 98%;
    padding: 20px 0;
    text-align: center;
    color: white; /* Asegúrate de que todo el texto sea blanco */
}
.header-content {
    display: flex;
    align-items: center;
}

/* footer */
footer {
    border: 1px solid black; /* PRUEBA */
    background-color: #4c6baf; /* Color Oficial del Sitio, para todo! */
    width: 98%;
    padding: 20px 0;
    text-align: center;
    color: white; /* Asegúrate de que todo el texto sea blanco */
}

/* Logo de JEL + Logos del Colegio */
.logo {
    margin-right: 20px;
    margin-left: 20px;
    height: 100px; /* Ajusta este valor según el tamaño de tu logo */
}

/* .logoColegio { */
/*     margin-right: 20px; */
/*     margin-left: 20px; */
/*     height: 50px; */ /* Ajusta este valor según el tamaño de tu logo */
/* } */

h1 {
    margin: 0;
    font-size: 2.5em;
}

h2 {
    margin: 0;
    font-size: 1.5em;
}

/* Menu de Navegación */
nav {
    margin-top: 10px;
}
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
.menu li {
    margin: 0 15px;
}
.menu a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s;
}
.menu a:hover {
    color: #ffdd57;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

/* Para la sección de programas */
.program-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 80%;
}
.program-rect {
    background-color: #ffffff;
    border: 2px solid #4c6baf;
    border-radius: 10px;
    padding: 40px;
    text-align: center;
    text-decoration: none;
    color: #4c6baf;
    font-size: 1.5em;
    transition: background-color 0.3s, color 0.3s;
}
.program-rect:hover {
    background-color: #4c6baf;
    color: #ffffff;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.content {
    margin-top: 20px; /* Ajusta este valor según sea necesario */
}

.subtitle {
    font-size: 50px;
}